.article-view {
    margin-bottom: 50px;
}

.article-view p {
    margin: auto;
    color: black;
    width: 500px;
    text-align: left;
    max-width: 80%;
    margin-bottom: 20px;
}

.article-view h1 {
    text-shadow: 1px 1px 2px grey;
}

.article-view h3 {
    color: rgb(91, 91, 91);
}

img {
    border-radius: 15px;
}

img,
Skeleton {
    max-width: 80%;
    max-height: 500px;
}

.votes-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    margin: 20px 0 30px 0;
}

.votes-container button {
    width: 50px;
    height: 50px;
    border-style: none;
    box-shadow: 1px 1px 2px grey;
    ;
    border-radius: 25%;
    font-size: x-large;
    padding: 0;
}

.votes-container p {
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

#upvote {
    background: rgb(106, 181, 36);
}

#downvote {
    background-color: rgb(253, 149, 149);
}