.article-card {
    width: 100%;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
    color: white;
    box-shadow: 5px 5px 10px rgba(57, 57, 57, 0.624);
}

.article-card p {
    color: white;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    font-weight: 500;
}

.article-card h3 {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 16px;
    padding: 5px 10px 0;
    text-align: left;
}

.article-card h1 {
    color: white;
    text-align: left;
    margin: 0;
    padding: 0px 10px 5px 10px;
    line-height: 1.2;
}